@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Voxus</h1>
    <p class="lead">Usamos tecnologia para impulsionar suas vendas na internet.</p>
    <p><a href="http://www.voxus.tv/index.html" class="btn btn-primary btn-lg" target="_blank">Veja mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aumente seu ROI com tecnologia</h2>
        <p>
            Alinhamos o risco com o cliente, cobrando apenas quando há conversão/venda (CPA) para assim atuar com os maiores e-commerces e agências de publicidade do Brasil.
        </p>
        <p><a class="btn btn-default" href="http://www.voxus.tv/comofunciona.html" target="_blank">Oque fazemos. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Automatizamos a segmentação para você</h2>
        <p>Utilizando dados próprios coletados de parceiros, definimos perfis de segmentação para aumentar a recorrência de compra dos seus clientes, além de trazer novos potenciais.</p>
        <p><a class="btn btn-default" href="http://www.voxus.tv/contato.html" target="_blank">Entre em contato. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventário exclusivo</h2>
        <p>Nossa tecnologia permite que agências de publicidade e e-commerces acessem nossa rede exclusiva de publishers com mais de 10 bilhões de impressões por mês da forma mais rentável.</p>
        <p><a class="btn btn-default" href="http://mediamanager.voxus.tv/checkout/first_step" target="_blank">Contrate agora &raquo;</a></p>
    </div>
</div>